* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.rounded {
    border-radius: 10px;
}

.nav {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    gap: 5px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav a {
    cursor: pointer;
}