.page {
    background: url('../../assets/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page > h1 {
    text-align: center;
    padding: 100px;
    font-size: 50px;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 380px;
    padding: 30px;
    border-radius: 10px;
    margin: 50px auto;
}
